// ___________________________________________________________________
// Footer Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.main-footer {
  display: none;

  @media #{$brkpoint-md} {
    display: block;
    margin-left: 30px;
  }
}
