// ___________________________________________________________________
// Header Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.25rem;
  padding-top: 3.875rem;

  @media #{$brkpoint-md} {
    align-items: flex-start;
    margin-bottom: 9.5rem;
    padding-top: 3.125rem;
  }

  @media #{$brkpoint-lg} {
    margin-bottom: 6.4375rem;
    padding-top: 6.375rem;
  }
}
