// ___________________________________________________________________
// Main Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.hero__header {
  margin-bottom: 2.125rem;

  .hero__subheading {
    @media #{$brkpoint-md} {
      max-width: 40ch;
    text-align: left;
    }
  }
}

.podcasts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$brkpoint-md} {
    flex-direction: column-reverse;
  }
}

.podcasts__brands {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  width: 100%;

  img {
    height: 1.0625rem;
    margin-bottom: 0.5rem;
  }

  @media #{$brkpoint-md} {
    justify-content: flex-start;
    gap: 2.5rem;
  }
}

.podcasts__brand-list img:nth-child(1) {
  width: 3.5rem;
}

.podcasts__brand-list img:nth-child(2) {
  width: 2.8125rem;
}

.podcasts__brand-list img:nth-child(3) {
  height: 0.6875rem;
  width: 4.5625rem;
}

.podcasts__brand-list img:nth-child(4) {
  height: 0.9375rem;
  width: 4.5625rem;
}
