// ___________________________________________________________________
// Main Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.hero__header {
  margin-bottom: 2.125rem;

  .hero__subheading {
    @media #{$brkpoint-md} {
      max-width: 40ch;
      text-align: left;
    }
  }

  @media #{$brkpoint-md} {
    margin-bottom: 2.5rem;
  }
}

.podcasts__brands {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  width: 100%;

  img {
    margin-bottom: 0.5rem;
  }

  @media #{$brkpoint-md} {
    justify-content: flex-start;
    gap: 2.5rem;
    margin-bottom: 9.5rem;
  }
}

.podcasts__brands > img:nth-child(1) {
  height: 1.0625rem;
  width: 3.5rem;

  @media #{$brkpoint-md} {
    height: 1.8125rem;
    width: 6rem;
  }
}

.podcasts__brands > img:nth-child(2) {
  height: 1.0625rem;
  width: 2.8125rem;

  @media #{$brkpoint-md}  {
    height: 1.8125rem;
    width: 4.875rem;
  }
}

.podcasts__brands > img:nth-child(3) {
  height: 0.6875rem;
  width: 4.5625rem;

  @media #{$brkpoint-md} {
    height: 1.125rem;
    width: 7.8125rem;
  }
}

.podcasts__brands img:nth-child(4) {
  height: 0.9375rem;
  width: 4.5625rem;

  @media #{$brkpoint-md} {
    height: 1.625rem;
    width: 8.0625rem;
  }
}
